<footer>
	<div class="container">
		<div class="row">
			<p>&copy; 2015 <a href="#">crossy.io</a></p>
		</div>
	</div>
</footer>

<script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.mixitup.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/owl-carousel/owl.carousel.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/rs-plugin/js/jquery.themepunch.plugins.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/rs-plugin/rs.home.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.localscroll-1.2.7-min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrollTo.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/animations.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.parallax.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.flexslider.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
